html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #313131;
}

#messageArea::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000E0;
}

#messageArea::-webkit-scrollbar
{
	width: 6px;
	background-color: #000000E0;
}

#messageArea::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5E0;
}

@font-face { font-family: 'BMEULJIRO'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }